{% extends 'workspace/base.html' %}

{% block head %}

{% endblock %}

{% block content %}

	<h1>Dashboard</h1>

	<div class="row">
		{% for workspace in workspaces %}
		  <div class="col-sm-6 mb-2">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">{{ workspace.title }}</h5>
		        <p class="card-text">Workspace Descriptions</p>
		        <a href="{% url 'user-workspace' workspace.id %}" class="btn btn-primary">{{ workspace.title }}</a>
		      </div>
		    </div>
		  </div>
	  {% endfor %}
  	<div class="col-sm-6 mb-2">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">New Workspace</h5>
	        <p class="card-text">Create a new Workspace</p>
	        <a href="#" class="btn btn-primary">Create new Workspace</a>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock %}