{% extends 'workspace/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}

	<link rel="stylesheet" type="text/css" href="{% static 'workspace/workspace.css' %}">

{% endblock %}

{% block content %}

	<h1>{{ workspace.title }}</h1>

	<div class="row">
		{# Notebooks #}
		<div class="col">
			<h3>Notebooks</h3>
			<div class="list-group">
				{% for notebook in notebooks %}
					<a href="{% url 'notebook' workspace.id notebook.id %}" class="list-group-item list-group-item-action">{{ notebook.title }}</a>
				{% endfor %}
				{# Add New Notebook #}
				<a href="#" class="list-group-item list-group-item-action">New Notebook</a>
			</div>
		</div>
		{# Files #}
		<div class="col">
			<h3>{{ folder.title }}</h3>
			{# files list #}
			{% if files %}
				<div>
					<table>
						<thead>
							<tr>
								<th>File Name</th>
								<th>Description</th>
								<th>Download</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							{% for file in files %}
								<tr>
									<td>{{ file.name }}</td>
									<td>{{ file.desc }}</td>
									<td>
										<a href="/uploadfiles/{{ file.filename }}" class="btn btn-primary btn-sm" target="_blank">Download</a>
									</td>
									<td>
										<form method="POST" action="{% url 'delete-file' workspace.id folder.id file.id %}">
											{% csrf_token %}
												<button type="submit" class="btn btn-danger btn-sm">Delete</button>
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<p>No files in this folder</p>
			{% endif %}
			{# uploading files #}
			<div>
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ fileform|crispy }}
				<button type="submit" class="btn btn-primary">Upload File</button>
			</form>
			</div>
		</div>
	</div>

{% endblock %}