{% extends 'workspace/base.html' %}
{% load static %}
{% block head %}

	<link rel="stylesheet" type="text/css" href="{% static 'workspace/workspace.css' %}">

{% endblock %}

{% block content %}

	<h1 data-workspace="{{ workspace.id }}">{{ workspace.title }}</h1>

	<div class="row">
		{# TodoList #}
		<div class="col">
			<h3>Tasks</h3>
			<div>
				<ul class="list-group">
					{% for todoitem in todoitems %}
						{% if todoitem.complete %}
							<div class="list-group-item list-group-item-action todoitem">
								<p><del>{{ todoitem.name }}</del></p>
								<button type="button" class="btn dropdown-toggle dropdown-toggle-split float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="todoDropdown-{{todoitem.id}}"></button>
								<div class="dropdown-menu" aria-labelledby="todoDropdown-{{ todoitem.id }}" data-todoid="{{ todoitem.id }}">
									<a href="{% url 'mark-todo' workspace.id todoitem.id %}" class="dropdown-item">Mark Incomplete</a>
									<a href="#" class="dropdown-item">Edit</a>
									<a href="#" class="dropdown-item">Set due date</a>
									<div class="dropdown-divider"></div>
									<a href="{% url 'delete-todo' workspace.id todoitem.id %}" class="dropdown-item">Delete</a>
								</div>
							</div>
						{% else %}
							<div class="list-group-item list-group-item-action todoitem">
								<p>{{ todoitem.name }}</p>
								<button type="button" class="btn dropdown-toggle dropdown-toggle-split float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="todoDropdown-{{todoitem.id}}"></button>
								<div class="dropdown-menu" aria-labelledby="todoDropdown-{{ todoitem.id }}" data-todoid="{{ todoitem.id }}">
									<a href="{% url 'mark-todo' workspace.id todoitem.id %}" class="dropdown-item">Mark Complete</a>
									<a href="#" class="dropdown-item">Edit</a>
									<a href="#" class="dropdown-item">Set due date</a>
									<div class="dropdown-divider"></div>
									<a href="{% url 'delete-todo' workspace.id todoitem.id %}" class="dropdown-item">Delete</a>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</ul>
				{# Adding new todoitem #}
				<div>
					<form action="" method="POST">
						{% csrf_token %}
						<input type="text" name="todoName">
						<input type="submit" name="addTodo" value="Add New Task">
					</form>
				</div>
			</div>
		</div>
		{# FoldersList #}
		<div class="col">
			<h3>Folders</h3>
			<div class="list-group">
				{% for folder in folders %}
					<a href="{% url 'workspace-folder' workspace.id folder.id %}" class="list-group-item list-group-item-action">{{ folder.title }}</a>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
{% block javascript %}

	<script type="text/javascript" src="{% static 'workspace/workspace.js' %}"></script>

{% endblock %}